@import "tailwindcss";

@theme {
    --color-primary: #eab308;
}

@layer base {
    body {
        @apply bg-zinc-950 text-zinc-50 antialiased selection:bg-yellow-500/30;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
    }
}